.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  /*border: 2px solid transparent;*/
  /*border-radius: 10px;*/
  /*background-color: #90e8e8;*/
  /*box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
}

body {
  background-color: #f5f2f2;
  font-family: Arial, sans-serif;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 2px;
  width: 80%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-family : Ayuthaya ;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #22c0c0;
}

button:hover {
  opacity: 0.9;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
#heading{
  font-size: 30px;
  color: #702893;
  border: 2px solid #f5f2f2;
  font-family : Noteworthy;
  font-weight: bold;

}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.todo-title {
  display: inline-block;
  text-align: justify;
  padding: 10px;
  font-size: 15px;
  font-family: "Lincoln Proxima Nova";
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #ffffff;
  width: 350px; /* adjust as needed */
  height: 30px; /* adjust as needed */
  overflow: auto; /* add this to handle text that might overflow */
}

div button {
  margin-left: 0;
}


